{% extends "layout.html" %}
{% import "_macros.html" as macro %}

{% block container %}
<h1>Cinépolis</h1>

<form method="POST">
    {{form.csrf_token}}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
    {{ macro.input_field(form.nombre) }}
    {{ macro.input_field(form.personas) }}
    {{ macro.input_field(form.boletos) }}
    {{ macro.input_field(form.tarjeta) }}

    <button type="submit">Comprar</button>
</form>

{% if total %}
    <h2>Salidas</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Boletos</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>{{ form.nombre.data }}</td>
            <td>{{ form.boletos.data }}</td>
            <td>${{ total }}</td>
        </tr>
    </table>
{% endif %}

<form method="GET">
    <button type="submit" name="terminar" value="1">Terminar</button>
</form>

{% if resumen %}
    <h2>Resumen de compras:</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Boletos</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in resumen %}
                <tr>
                    {% for celda in fila %}
                        <td>{{ celda }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"><b>TOTAL GENERAL:</b></td>
                <td><b>{{ total_general }}</b></td>
            </tr>
        </tbody>
    </table>
{% endif %}
{% endblock %}
