{% extends "layout.html" %}
{% import "_macros.html" as macro %}

{% block container %}
<div class="row">
    <h4>Datos personales:</h4>
    <div class="col-md-6">
        <form action="/Zodiaco" method="post" novalidate>
            {{ form.csrf_token }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            {{ macro.camposNuevos(form.nombre) }}
            {{ macro.camposNuevos(form.apaterno) }}
            {{ macro.camposNuevos(form.amaterno) }}

            <h4>Fecha de nacimiento:</h4>
            <div class="row">
                <div class="col-md-4">
                    {{ macro.camposNuevos(form.dia) }}
                </div>
                <div class="col-md-4">
                    {{ macro.camposNuevos(form.mes) }}
                </div>
                <div class="col-md-4">
                    {{ macro.camposNuevos(form.anio) }}
                </div>
            </div>
            <br>

            {{ macro.camposNuevos(form.sexo) }}

            <button type="submit" class="btn btn-primary">Imprimir</button>
        </form>
    </div>
    
    <div class="col-md-6">
        {% if resultado %}
            <h3>Resultado:</h3>
            <p>Hola {{ resultado.nombre }} {{ resultado.apaterno }} {{ resultado.amaterno }}</p>
            <p>Tienes {{ resultado.edad }} años</p>
            <p>Tu Signo Zodiacal Chino es: {{ resultado.signo }}</p>
            <img src="{{ url_for('static', filename='img/' + resultado.img) }}" 
                 alt="Signo Chino" style="width: 100px; height: 100px;">
        {% endif %}
    </div>
</div>
{% endblock %}
